*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family: sans-serif;
background: #F7F7FF;
}

/*Inicio*/
.container_backgroung-circle{
max-width: 1200px;
height: 300px;
width: 300px;
margin: auto;
position: fixed;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}
.circle1{
position: fixed;
width: 300px;
height: 300px;
left: 65%;
top: -50px;
border-radius: 50%;
margin: 0 auto;
background: linear-gradient(193.78deg, rgba(237, 30, 216, 0.69) 8.09%, rgba(107, 47, 235, 0.670208) 50.21%, rgba(136, 64, 255, 0.65) 93.22%);
animation: c1 9s ease infinite;
}
.circle2{
position: fixed;
width: 130px;
height: 130px;
left: 80%;
top: 50%;
border-radius: 50%;
margin: 0 auto;
background: linear-gradient(232.88deg, #0085FF 15.22%, rgba(0, 252, 71, 0.37) 88.87%);
animation: c1 7s ease infinite
}
.circle3{
position: fixed;
width: 300px;
height: 300px;
left: -100px;
top: 35%;
border-radius: 50%;
margin: 0 auto;
background: linear-gradient(211.31deg, #1A54C7 12.26%, #21E4D9 86.29%);
animation: c1 9s ease infinite
}
.circle4{
position: fixed;
width: 102px;
height: 102px;
left: 284px;
top: 10%;
border-radius: 50%;
margin: 0 auto;
background: linear-gradient(180deg, #9962DF 0%, #21E4D9 100%);
animation: c1 6s ease infinite
}
.circle5{
position: fixed;
width: 120px;
height: 120px;
left: 284px;
top: 70%;
border-radius: 50%;
margin: 0 auto;
background: linear-gradient(204.27deg, #7F43FD 13.72%, rgba(64, 163, 255, 0.65) 86.19%);
animation: c1 8s ease infinite
}
.circle6{
position: fixed;
width: 202px;
height: 205px;
left: 65%;
top: 80%;
border-radius: 50%;
margin: 0 auto;
background: linear-gradient(180deg, rgba(255, 89, 238, 0.79401) 0%, rgba(108, 30, 237, 0.69) 100%);
animation: c1 5s ease infinite
}
@keyframes c1 {
    0%{
        transform: rotate(35deg) translateY(0px);
    }
    50%{
        transform: rotate(35deg) translateY(25px);
    }
    100%{
        transform: rotate(35deg) translateY(0px);
    }
}
.container {
position: absolute;
width: 100%;
max-width: 100%;
max-height: 100%;
height: 100%;
background: rgba(1, 0, 0, .1);
margin: auto;
backdrop-filter: blur(10px);
}

img{
    width: 431px;
}
.img{ 
    padding: 0.8rem 0;
}
.questions{
    margin: 2rem auto;
    width: 70vw;
    padding: 2rem;
    background: #F7F7FF;
    cursor: default;
    border-radius: 1rem;
}
#question{
    margin-bottom: 1rem;
}
.option{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    border-bottom: solid 0.2rem #8AB6F2;
    width: 15rem;
    background: #C8C8C8;
    border-radius: 1rem;
}
.option:hover{
    color: #210156;
    background: #B6A3FD;
    transform: translateY(-2px);
}    
ol{
    position: relative;
    padding: 0 1.5rem;
    color: #000000;
}
span{
    display: block;
    padding: 0.1rem 0.7rem;
    border-radius: 1rem;
}
#answer{
    margin-top: 1.5rem;
}
#stat{
    margin-top: 2.5rem;
    color: #210156;
}
.buttons{
    text-align: center;
}
button{
    padding: 0.2rem 1.5rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    color: #000000;
    background: #8AB6F2;
}
button:hover{
    background:#B6A3FD;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .2);
    transform: translateY(-2px);
}
#scoreboard,#answerBank{
    width: 30rem;
    background: #F7F7FF;
    padding: 2rem;
    text-align: center;
    margin: auto;
    position: relative;
    top: 5rem;
    display: none;
    border-radius: 20px;
}
#score-title{
    margin: 1rem 0;
}
#score-btn,#check-answer{
    margin-top: 1rem;
}
#score{
    font-size: 2.5rem;
}
#answerBank li{
    text-align: left;
    margin-bottom: 0.2rem;
    font-size: larger;
}
#answers{
    margin-top: 1rem;
}